* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  overflow: hidden;

}


html {

  height: 100%;

  overflow: hidden;

  min-height: 100%;

}


body {

  perspective: 600px;

  transform-style: preserve-3d;

  transform-origin: center center 0;

  overflow-y: hidden;

  overflow-x: hidden;

  height: 100%;

  background: rgba(45,45,45,1);

}


.photo {

  color: indigo;

  -webkit-text-shadow: 0px 0px 5px black;

  text-shadow: 0px 0px 5px black;

  filter: blur(0px);

  text-align: center;

  line-height: 100%;

  font-size: 20rem;

  transform-origin: center center 0;

  transform-style: inherit;

  position: absolute;

  top: 14vh;

  width: 75vw;

  height: 80vh;

  left: 12.5vw;

  right: 12.5vw;

  transform: translateZ(-10px);

  transition: all 4s cubic-bezier(0.19, 1, 0.22, 1);

}


.noShow {
  transition: all 4s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateZ(-110px) translateX(355px);
  filter: blur(2px);
}

.photo--1 {
  transition: all 4s cubic-bezier(0.19, 1, 0.22, 1);
}


.photo--2 {
  transition: all 4s cubic-bezier(0.19, 1, 0.22, 1);

  transform: translateZ(-110px) translateX(265px);

  filter: blur(2px);

}


.photo--3 {

  transform: translateZ(-210px) translateX(365px);

  filter: blur(3px);

}


.photo--4 {

  transform: translateZ(-310px) translateX(465px);

  filter: blur(4px);

}


.photo--5 {

  transform: translateZ(-410px) translateX(565px);

  filter: blur(5px);

}


.photo--6 {

  transform: translateZ(-510px) translateX(665px);

  filter: blur(6px);

}


.photo--7 {

  transform: translateZ(-610px) translateX(765px);

  filter: blur(7px);

}





.photo--2- {

  transform: translateZ(-100px) translateX(-265px);

  filter: blur(2px);

}


.photo--3- {

  transform: translateZ(-120px) translateX(-365px);

  filter: blur(3px);

}


.photo--4- {

  transform: translateZ(-140px) translateX(-465px);

  filter: blur(4px);

}


.photo--5- {

  transform: translateZ(-160px) translateX(-565px);

  filter: blur(5px);

}


.photo--6- {

  transform: translateZ(-180px) translateX(-665px);

  filter: blur(6px);

}


.photo--7- {

  transform: translateZ(-200px) translateX(-765px);

  filter: blur(7px);

}

.choosenPhoto {
  transform: translateZ(-1px);
}







#mainFrame {

  text-align: center;

  position: absolute;

  width: 100%;

  height: 100%;

  border: 10px solid black;

  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(45,45,45,1) 86%);

}


.header {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 40px;

  background: black;

  color: #ffffff;

}


.header > :nth-child(1) {

  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  margin-left: 20px;

}


.header > :nth-child(2) {

  position: absolute;

  top: 50%;

  right: 0;

  transform: translateY(-50%);

  margin-right: 20px;

}


#containerForTitles {

  position: relative;

  width: 90%;

  height: 150px;

  margin: 25px auto;

  background: transparent;

  top: 70%;

}

#containerForTitles > :nth-child(1) {
  display: block;

  font-size: .7rem;

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;

  background-image: radial-gradient(circle, rgba(255,255,255,.9) 200%, rgba(0,0,0,0) 0%);

}

#containerForTitles > :nth-child(2) {

  display: block;

  font-size: 1.6rem;

  font-weight: 100;

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;

  background-image: radial-gradient(circle, rgba(255,255,255,.9) 200%, rgba(0,0,0,0) 0%);

}

#containerForTitles > :nth-child(3) {

  display: block;

  font-size: .8rem;

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;

  background-image: radial-gradient(circle, rgba(255,255,255,.9) 200%, rgba(0,0,0,0) 0%);

}




#blackFon {

  background: black;

  padding: 20px 0;

  position: absolute;

  width: 100%;

  height: 100%;

  color: white;

  text-align: center;

  font-size: 1.3rem;

  line-height: 1;

}


#blackFon h4 {

  background-image: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 0%);

  background-clip: text;

  -webkit-background-clip: text;

  color: rgba(0,0,0,.2);

} 



#blackFon > * {

  margin: 35px auto;

  max-width: 90%;

}


#blackFon > :nth-child(2) {

  background-image: radial-gradient(rgba(255,255,255,1) 0%, rgba(0,0,0,0) 0%);

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;

  line-height: 2.6;

  transition: line-height 4s;

}


#blackFon > :nth-child(3) {

  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 0%);

  background-clip: text;

  -webkit-background-clip: text;

  color: transparent;

}





.btn {

  margin-left: auto;

  margin-right: auto;

  width: 160px;

  padding: 15px 20px;

  position: relative;

  top: 100px;

  border: 1px solid rgba(255,255,255,.5);

  overflow: hidden;

  transition: top 2s;

}



.btn__corner--tl {

  background: rgba(255,255,255,.5);

  position: absolute;

  width: 20px;

  height: 20px;

  transform: rotateZ(45deg);

  top: -15px;

  left: -15px;

}


.btn__corner--tr {

  background: rgba(255,255,255,.5);

  position: absolute;

  width: 20px;

  height: 20px;

  transform: rotateZ(45deg);

  top: -15px;

  right: -15px;

}


.btn__corner--bl {

  background: rgba(255,255,255,.5);

  position: absolute;

  width: 20px;

  height: 20px;

  transform: rotateZ(45deg);

  bottom: -15px;

  left: -15px;

}


.btn__corner--br {

  background: rgba(255,255,255,.5);

  position: absolute;

  width: 20px;

  height: 20px;

  transform: rotateZ(45deg);

  bottom: -15px;

  right: -15px;

}



.noto {

 font-family: 'Noto Sans', sans-serif;

 font-size: .75rem;

}


.cormorant {

  font-family: 'Cormorant SC', serif;

}


.toupper {

  text-transform: uppercase;

}


.shining {

  box-shadow: 0px 0px 15px white;

}



#nearFon {

  z-index: -10;

  position: absolute;

  width: 100%;

  height: 100%;

}


#forHolyFathers {
  transform-origin: center center 0;
  transform-style: inherit;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(40px);
  width: 100%;
  height: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  visibility: hidden;
}

#bottomNavigationTitle {
  & h4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    font-size: .7rem;
  }
}

#bottomNavigation {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;

  & > :nth-child(4) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 20px;
  }

  & .arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 20px;

    &__right {
      transform: translateY(-50%) translateX(-150%);

      &__top {
        position: absolute;
        top: 2px;
        left: 8px;
        width: 3px;
        height: 10px;
        background-color: white;
        transform: rotateZ(45deg);
      }

      &__bottom {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 3px;
        height: 10px;
        background-color: white;
        transform: rotateZ(-45deg);
      }
    }

    &__left {
      transform: translateY(-50%) translateX(50%);

      &__top {
        position: absolute;
        top: 2px;
        right: 8px;
        width: 3px;
        height: 10px;
        background-color: white;
        transform: rotateZ(-45deg);
      }

      &__bottom {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 3px;
        height: 10px;
        background-color: white;
        transform: rotateZ(45deg);
      }
    }
  }
}
